<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Create a form to show/edit users -->
  <fieldset>
    <div class="well">
      <%= f.label :first_name %>
      <%= f.text_field :fname %>
    </div>  
  <br>
    <div class="well">
      <%= f.label :last_name %>
      <%= f.text_field :lname %>
    </div>
  <br>
    <div class="well">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <br>
    <div class="well">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  <br>
    <div class="well">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>  
 
  </fieldset>


  
  <% if @current_user.nil? %>
    <%= f.submit 'Register', :class => 'btn btn-default' %>
    <%= link_to 'Cancel', login_path, class: 'btn btn-default' %>
  <% else %>
    <%= f.submit 'Update Registration', :class => 'btn btn-default' %>
    <%= link_to 'Back to My Library', user_path(session[:user_id]), class: 'btn btn-default' %>
  <% end %>
<% end %>

  