<%= form_tag("/lookup", method: :post) do %>

  <fieldset>
    <%= label_tag :isbn %>
    <%= text_field_tag :isbn %>

    <div class="btn btn-default">
      <%= submit_tag "Lookup ISBN" %>
    </div>
  </fieldset>
<% end %>



  </fieldset>

<!--     t.string   "author"
    t.string   "gr_author_id"
    t.text     "description"
    t.integer  "pub_date"
    t.string   "isbn"
    t.datetime "created_at",   null: false
    t.datetime "updated_at",   null: false
    t.string   "title"
    t.string   "photo_uri" -->

<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%#= f.label "Published" %>
    <%#= f.date :pub_date %><br>

    <%= f.label "Goodreads Book ID" %>
    <%= f.text_field :gr_book_id %><br>
    <%= f.label "Goodreads Rating" %>
    <%= f.text_field :gr_avg_rating %><br>
    <%= f.label "Number of Pages" %>
    <%= f.text_field :num_pages %><br>
    <%= f.label "Goodreads Book Link" %>
    <%= f.text_field :gr_link %><br>
    <%= f.label :author %>
    <%= f.text_field :author %><br>
    <%= f.label 'Goodreads Author ID' %>
    <%= f.text_field :gr_author_id %><br>
    <%= f.label 'ISBN' %>
    <%= f.text_field :isbn %><br>
  <% if @book.book_cover_photo_med.nil? %>
  <% else %>
    <%= f.label 'Book Cover' %>
    <%= image_tag f.object.book_cover_photo_med %><br>
    <%= f.hidden_field :book_cover_photo_med, value: @book.book_cover_photo_med %>
    <%= f.hidden_field :book_cover_photo_sm, value: @book.book_cover_photo_sm %>
  <% end %>
  <%= f.label "Description" %>
  <%= f.text_field :description %><br>

  <br>
  <div class="actions">
    <%= f.submit 'Add book to your library' %>
  </div>
<% end %>

