<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table>
  <thead>
    <table border="3" width="60%" cellpadding="2" cellspacing="2">
    <tr> 
      <th>TITLE OF BOOKS AND AUTHOR<th>
      <th>ISBN BOOK #</th>
      <th colspan="4">ACTIONS</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
       
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.isbn %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
