<div class="jumbotron">
	<div class="container">
		<% if notice.present? %>
			<p id="notice"><%= notice %></p>
		<% end %>
		<h3><b><%= @book.title %></b></h3>
		<%= image_tag @book.book_cover_photo_med %><br><br>
		By: <%= @book.author %><br>
		Published: <%= @book.pub_date.strftime("%B %-d, %Y") %><br>
		ISBN: <%= @book.isbn%><br><br>
		Pages: <%= @book.num_pages %><br>
		Goodreads rating: <%= @book.gr_avg_rating%><br>
		<br>
		Description: <%= @book.description %><br><br><br>

		<%= link_to "View at Goodreads", @book.gr_link, class: 'btn btn-success'%>
		 | 
		<% if @book.id > 1 %>
			<%= link_to 'Previous Book', Book.find(@book.id - 1), class: 'btn btn-default' %>  
		<% end %>
		 
		<% if Book.last.id > @book.id %>
			<%= link_to 'Next Book', Book.find(@book.id + 1), class: 'btn btn-default' %>
		<% end %>
	</div>
</div>
<%= link_to 'Back to My Library', user_path(@current_user.id), class: 'page-link' %> |
<%= link_to 'Back to Master Library', books_path, class: 'page-link' %>


