<div class="jumbotron">
	<div class="container">

		<p id="notice"><%= notice %></p>

		<h1>Book Library</h1>

		<h5 style="font-size: 20px"> <%= @book.title %></h5>

		<h5 style="font-size: 18px"><%= @book.author %></h5>

		<h5 style="font-size: 18px"><%= @book.isbn %></h5>

	</div>
</div>


|
<%= link_to 'Back', books_path %>

